<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>

  </mat-drawer>
  <mat-drawer-content></mat-drawer-content>
</mat-drawer-container> -->

<mat-nav-list>
  <mat-list-item
    [routerLink]="'/signals/redux-with-signals'"
    [routerLinkActive]="['active']"
  >
    Redux With Signals
  </mat-list-item>
  <mat-list-item>
    <a mat-line [routerLink]="'/signals/a'">Example 1</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line [routerLink]="'/signals'">Example 2</a>
  </mat-list-item>
</mat-nav-list>

<router-outlet />
