<h1>Signals Basics</h1>
<div>
  <h3>Writable signals with primitives</h3>
  <p>Writable signals are allow you to change their value over time.</p>
  <button (click)="increment()">Increment</button>
  <p>Counter : {{ counter() }}</p>
</div>

<hr />

<div>
  <h3>Writable signals with array</h3>
  <p>Writable signals are allow you to change their value over time.</p>
  <button (click)="addItem()">Add Item to array</button>
  @for (item of dynamicArray(); track $index) {
  <li>{{ item }}</li>
  }
</div>

<hr />
<div>
  <h3>Computed Signals</h3>
  <p>
    Computed signals are read-only and automatically update based on other
    signals. Their values cannot be set directly.
  </p>
  Length :
  <input type="number" [value]="length()" (change)="onChangeLength($event)" />
  Breadth :
  <input type="number" [value]="breadth()" (change)="onChangeBreadth($event)" />
  Computed Area : {{ area() }}
</div>

<div>
  <br />
  <a href="https://www.youtube.com/watch?v=n1a2eQ0Zyls">Watch this video</a>
</div>
