<div>
  <p><a href="https://www.youtube.com/watch?v=rHQa4SpekaA">Youtube Link</a></p>
</div>

<div>
  <select (change)="onUserChange($event.target)">
    <option value="">--Select a user--</option>
    @for (user of users(); track user.id) {
    <!-- learning purpose only -->
    @if (user.id % 2 == 0) {
    <option [value]="user.id">{{ user.name }}</option>
    }@else {
    <option [value]="user.id">{{ user.name }}({{ user.id }})</option>
    } }
  </select>
</div>

@if(isLoading()){
<div class="loading">Loading...</div>
} @else {
<div class="loaded">
  @for (todo of todos(); track todo.id) {
  <li>{{ todo.todo }}</li>
  }
</div>
}
